<div id="home">
    <div id="imgcont">
        <img src="./images/beer.png" alt="Main beer">
    </div>
</div>
<div id="link"> 
    <a href="beers.hbs">Check the beer </a>
    <a href="random-beer.hbs">Check a Random Beer</a>
</div>
