<div id="home">
    <img src="./images/beer.png" alt="Main beer">
    <div id="link"> 
        <p><a href="/beers">Check the beer </a></p>
        <p><a href="/random-beer">Check a Random Beer</a></p>
    </div>
</div>