<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/stylesheets/styles.css">
    <title>layout</title>
</head>
<body>
    <nav><a href="#">Home</a><a href="#">Beers</a><a href="#">Random Beer</a></nav>
    {{{body}}}
</body>
</html>