
/*
white: #f7f9f9;
light-blue: #2081c3;
dark-blue: #0a2c42;
grey: #bfbfbf;
font-family: Arial, Helvetica, sans-serif;
*/
nav{
    display: flex;
    gap: 10px;
    width: 100vw;
    height: 50px;
    background-color: #2081c3;
    color: #f7f9f9;
}

#imgcont{
    width: 100vw;
    text-align: center;
}

#home img {
   
    width: 100px;
    
}

#home #link a{
border: solid 1px;
border-radius: 20px;
background-color: #2081c3;
color: #f7f9f9;
}

footer {
    width: 100vw;
    height: 30px;
    background-color: #0a2c42;
    color: #f7f9f9;
}
